@import "reset";
/**********common variables *******/
$color-white-solid: #fff;
$greenColor: #5ff7d2;
$color-light-gray: #ccc;
$color-dusty-gray: #999;
$color-smoky-gray: #666;

/**********common mixins *******/
@mixin border-radius($radius:2px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
}
@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }
  @-ms-keyframes $animation-name {
    @content;
  }
}
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**********common inheritable classes *******/
.lFloat{float:left}
.txt-format{
	text-transform:uppercase;
	font-weight:bold;
}
.img-format{    	
	width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.reset-padding{padding:0}
.hidden{display:none;}
.slideAnimation{    transform: translateY(-100px);}


/********* css for custom check box *******/

.custom-checkbox {
	width: 17px;
	height:17px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	position: relative;
	input{display:none;}
	label {
		cursor: pointer;
		width: 15px;
		height: 15px;
		border:1px solid $color-light-gray;
		background:$color-white-solid;
		margin-right:10px;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
		&:after{
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: alpha(opacity=0);
			/*opacity: 0;*/
			content: '';
			position: absolute;
			width: 0;
			height:5px;
			background: transparent;
			top:4px;
			left: 4px;
			border:0px solid $greenColor;
			border-top: none;
			border-right: none;
			@include transform(rotate(-45deg));
			@include transition(all, 400ms, ease-in);
		}
	}
	input[type=checkbox]:checked + label:after {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		/*opacity: 1;*/
		border: 2px solid $greenColor;
		width: 9px;
		border-top: none;
		border-right: none;
	}
}


/************ header css starts here *******/
header{
    border-bottom: 1px solid $color-light-gray;
    border-top: 2px solid #000;
    padding: 20px;
    font-family: arial;
	.menu-list{
		font: bold 14px arial;
		padding: 10px 20px;
		li{
			display:inline;
			list-style:none;
			margin-right: 30px;
		}
	}
	.header-middle-section{
		color:$color-light-gray;
		text-align:center;
		.header-middle-text{
		}
		.follow-link{
			margin-top:10px;
			.dribble{ color:red;}
			.twitter{color:blue}
		}
	}
	.header-icons{
		font-size: 18px;
		.sortlist{
			border-left: 1px solid $color-light-gray;
			font-size: 35px;
			padding: 22px 19% 22px;
			line-height: 43px;
		}
		.search{
			border-left: 1px solid $color-light-gray;
			font-size: 35px;
			padding: 22px 0px 22px 20%;
			line-height: 43px;
		}
	}
}

/****** css for body **********/

.container{
	font-family:arial;
	padding: 0;
	.wrapper{
		.left-wrapper{
			padding:30px 15px;
			border-right:1px solid $color-light-gray;
			.cart-section{
				margin-bottom: 30px;
				.cart-row{
					margin-bottom:15px;
					.cart-txt{
						margin-top:8px;
						padding: 0;
						font-size: 14px;
						@extend .txt-format;
					}
					.checkout-button{
						font-size: 12px;
						color: $greenColor;
						background: $color-white-solid;
						border: 2px solid $greenColor;
						padding: 5px 0;
						@extend .txt-format;
						outline: none;
					}
				}
				.cart-empty-txt{
					color:$color-dusty-gray;
					font-style:italic;
				}
				.added-product-section{
					margin-bottom:20px;
					opacity:0;
					@include transition(opacity, 400ms, ease-in);
					&.opacity{opacity:1;}
					.prod-img{
						border: 1px solid $color-light-gray;
						height: 61px;
						overflow: hidden;
						padding: 0;
						img{
							@extend .img-format;
							max-height: inherit;
						}
					}
					.prod-desc{
						font-size:16px;
						padding-top:5px;
						.product-price{
							color:$greenColor;
							padding-top: 10px;
						}
					}
					.cross{
						color:$color-light-gray;
						font-size:20px;
						margin-top:15px;
						display:none;
						cursor:pointer;
					}
					&:hover{
						.cross{
							display:block;
						}
					}
				}
			}
			.filter-section{
				margin-bottom:30px;
				.filter-head{
					font-size: 14px;
					@extend .txt-format;
					margin-bottom: 20px;
				}
				.filter-section-inner{
					.filters-list {
						margin-bottom: 15px;
						.filter-name{
							color:$color-dusty-gray;
							font-size:14px;
							vertical-align:top;
							text-decoration:none;
							&:hover{
								color:$color-smoky-gray;
							}
						}
					}
				}
			}
		}
		.color-circle{
			border: 1px solid #f2f2f2;
			border-radius: 50%;
			width: 15px;
			height: 15px;
			display: inline-block;
			margin-right: 10px;
			&:hover{
				@include transform(scale(1.5,1.5));
				@include transition(transform ,200ms, ease-in);
			}
		}
		
		
		.right-wrapper{
			padding:30px 15px;
			.show-result{
				margin: 15px;
				padding-bottom: 20px;
			}
			.product-listing{
				perspective: 800px;
			}
			
		}
	}
	.product-tuple{
		margin-bottom:30px;
		position:relative;
		transform-style: preserve-3d;
		transition: transform 1s;
		.tupleData {
			backface-visibility: hidden;
			.product-image{
				img{
					@extend .img-format;
				}
			}
			.product-desc{
				padding: 21px 0;
			}
			.hover-info{
				background-color: rgba(0, 255, 230, .84);
				width: 91%;
				position:absolute;
				top:0;
				display:none;
				box-shadow: 2px 2px 11px 1px $color-light-gray;
				@include transition(all, 400ms, ease-in);
				.button-section{
					padding: 25% 14%;
					.tuple-button{
						border: 2px solid $color-white-solid;
						color: $color-white-solid;
						background: transparent;
						width: 100%;
						font-size: 15px;
						padding: 10px 0;
						@extend .txt-format;
						margin-bottom: 20px;
						outline: none;
						&:hover{
							color:$greenColor;
							background:$color-white-solid;
						}
					}
				}
				.product-detailed-info{
					padding:10% 6%;
					background:$color-white-solid;
					.product-title{
						font-size:14px;
						.product-price{ font-size:18px;}
					}
					.product-info{
						font-size:14px;
						margin-top:6px;
					}
					.product-attr{
						.attr-section{
							margin-top:15px;
							.attr-value{
								margin-top: 6px;
								text-transform: uppercase;
								font-size: 13px;
								span{
									margin-right:5px;
								}
							}
							.color-attr{
								margin-top:6px;
							}
						}
					}
				}
			}
			&:hover{
				.hover-info{
					display:block;
				}
			}
		}
		.view-gallery{
			transform: rotateY(180deg);
			position: absolute;
			top: 0;
			left: 0;
			display: none;
			backface-visibility: hidden;
			width: 95%;
			box-shadow: 2px 2px 5px 0px $color-light-gray;
			height: 102%;
			background: #e9e9e9;
			img{
				@extend .img-format;
			}
			.cross{
				position: absolute;
				top: 10px;
				right: 5px;
				cursor:pointer;
			}
		}
		&.flippingAnimate{
			transform: rotateY( 180deg );
		}
	}
	.product-title{
		.title{
		font-size:15px;
		@extend .txt-format;
		max-width: 77%;
		display: inline-block;
		@include ellipsis;

		}
		.product-price{ color:$greenColor; font-size:22px; float:right;}
	}
	.product-info{
		color:$color-dusty-gray;
		font-size:14px;
		margin-top:10px;
	}
	.animated-product-tuple{
		box-shadow:2px 2px 6px 2px $color-light-gray;
		z-index: 2;
		background: $color-white-solid;
		position:absolute;
		.product-tuple{
			width:250px;
			.hover-info{display:none !important;}
		}
	}
}
	/***** css for footer *************/
	.footer{
		text-align: center;
		color: $color-light-gray;
		background: #333;
		padding: 20px;
		p{
			font-size:13px;
			font-style:italic;
			margin-top:5px;
		}
	}