<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ask Me Assignment</title>
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="../css/common.css" rel="stylesheet" type="text/css" />
<link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<header>
		<div>
			<ul>
				<li>HOME</li>
				<li>BRANDS</li>
				<li>DESIGNERS</li>
				<li>CONTACT</li>
			</ul>
		</div>
		<div clas="header-miidle">
			<p>Add to cart interaction prototype by Virgil Pana</p>	
			<p>Follow me on Dribbble | Twitter</p>
		</div>
		<div>
			<span>&#9825;</span>
			<span>&#128269;</span>
		</div>
	</header>
	<div class="container">
		<div class="wrapper">
			body goes here 
		</div>
	</div>
	<footer>
		<div  class=""> footer goes here</div>
	</footer>
</body>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
</html>
